<p>parent works!</p>
<!-- <p>{{employeeData.firstName}}</p> -->
 <app-child [Employee]="employeeData"></app-child> 

<!-- <div *ngFor="let emdata of employeeData"></div> -->

<input type="text" [(ngModel)]="employeeData[0].firstName">
<input type="text" [(ngModel)]="employeeData[0].lastName">
<input type="number" [(ngModel)]="employeeData[0].age">
<input type="number" [(ngModel)]="employeeData[0].contact"> 



<button (click)="childdata()" style="margin: 20px;">child data</button>

<button (click)="arrdata()">click arr</button>
<br><br>
<br>
<button (click)="inputData()">click Inputchange</button>
<br><br>
<br>