
<div>
    <nav>
        <ul class="ul">
            <li><a routerLink = '/desh'>Dashboard</a></li>
            <li><a routerLink="/parent">Parent</a></li>
            
            <!-- <li><a routerLink="/home">Home</a></li> -->
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>
<!-- <app-header></app-header>
<h1>app component</h1>
<app-login></app-login>

<app-student></app-student>
<app-dashboard (newItemevent)="additem($event)" [child]="childcomponent" [lastname]="lastnames"  (childevent)="childData($event)" [userfirstname]="userfirstname" [user]="userdata"></app-dashboard>
<br>
<h1>{{childdata}}</h1>
<h2>{{userdata.userid}}</h2>
<ul>
    <li *ngFor="let item of  items">{{item}} </li>
</ul> -->

<!-- <h1 ngif="condition ? true : false ">{{item}}</h1>  -->
 <!-- <app-parent [ngStyle]="{'textAlign':'center','color':'red'}"></app-parent> -->
 <!-- <span appCDirective> Hello custom component</span>
 
<app-parent [ngClass]="'first'"></app-parent>

<div><span appCDirective  *ngFor="let ar of arr" [ngClass]="ar%2==0 ? 'first' : 'sec'">Hello   {{ar}}</span>

</div>
  <div>{{massge}}</div>


<input #inputElement type="text" placeholder="viewinput"><br>
<button (click)="inputvalue()">click Input</button><br>
<h1>{{data}}</h1>
<h1 #text >Hello Viewchild</h1>
<button (click)="changecolor()">Color</button><br> -->
<!-- <h1>{{counter}}</h1><br> -->
<!-- <button (click)="ngData()">NgClick</button> -->
<!-- <button (click)="getService()">getService</button><br> -->
<!-- <Router-Outlet></Router-Outlet> -->
<!-- <router-Outlet></router-Outlet> -->
<!-- <button (click)="dashBoard()">canactive</button> -->