<!-- <app-header></app-header>
<h1>app component</h1>
<app-login></app-login>

<app-student></app-student>
<app-dashboard (newItemevent)="additem($event)" [child]="childcomponent" [lastname]="lastnames"  (childevent)="childData($event)" [userfirstname]="userfirstname" [user]="userdata"></app-dashboard>
<br>
<h1>{{childdata}}</h1>
<h2>{{userdata.userid}}</h2>
<ul>
    <li *ngFor="let item of  items">{{item}} </li>
</ul> -->

<!-- <h1 ngif="condition ? true : false ">{{item}}</h1> -->
<app-parent></app-parent>

