.first{
    color: navy;
}
/* .first:hover{
    color: yellow;
} */
.sec{
    color: red;
}
.event{
    color: pink
}
.ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}